{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    <div class="blog_content">
        <img src="{% static 'blog/images/blog_1.jpeg' %}" alt="blog image">
        <h3>{{ blog.title }}</h3>
        <h6>Author: {{ blog.posted_by }}</h6>
        <p>Posted At: {{ blog.posted_at.date }}</p>
        <p>{{ blog.content }}</p>
    </div>

    <div class="reaction">
        <form method="post" action="{% url 'blog_detail' blog.pk%}">
            {% csrf_token %}
            <button type="submit" name="reaction_type" value="upvote" class="btn btn-primary">{{ up_vote_reaction }} | up vote</button>
            <button type="submit" name="reaction_type" value="downvote" class="btn btn-primary">{{ down_vote_reaction}} | down vote</button>
        </form>
        <br>
    </div>
    <div class="comments">
        {% for comment in page_obj %}
        <br>
        <div class="comment_content">
            <p>{{ comment.content }}</p>
            <h6>By: {{ comment.posted_by | upper }}</h6>
            <p>At: {{ comment.posted_at.date }}</p>
        </div>
        {% if comment.posted_by.id == request.user.id%}
        <a href="{% url 'delete_comment' comment_id=comment.id blog_id=blog.id%}" class="btn btn-primary">Del</a>
        {% endif %}
        <br>
        {% endfor %}
        <div class="pagination">
            <span class="step_links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">What do you think</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="content" value="{{ form.content.value }}"></textarea>
            <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="{{ form.content }}" value="{{ form.content.value }}"></textarea> -->
            {{ form.content.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>
{% endblock %}