{% extends "blog/base.html" %}

{% block content %}
<h3>Create New Blog</h3>
<form method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title" name="title" value="{{ form.title.value }}" required>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="content" value="{{ form.content.value }}" required></textarea>
  </div>
  <!-- {{ form.as_p }} -->
  <button type="submit" class="btn btn-primary">Post</button>
</form>
{% endblock %}